<ui:composition template="/WEB-INF/template/templatepadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Novo Cliente</ui:define>

	<ui:define name="corpo">
		<h1>Novo Cliente</h1>
		<p:toolbar>
			<p:toolbarGroup>
				<p:button value="Novo" outcome="/clientes/cadastro" />
				<p:commandButton value="Salvar" />
			</p:toolbarGroup>
			<p:toolbarGroup align="right">
				<p:button value="Busca" />
			</p:toolbarGroup>
		</p:toolbar>

		<p:panelGrid columns="2" columnClasses="label, field" id="painel"
			styleClass="formClientes">

			<p:outputLabel value="ID" for="cliId" />
			<p:inputText id="cliId" name="cliId" size="20" maxlength="20"
				readonly="readonly" />

			<p:outputLabel value="Nome" for="cliNome" />
			<p:inputText id="cliNome" name="cliNome" size="60" maxlength="60" />

			<p:outputLabel value="Tipo" for="cliTipo" />

			<p:selectOneRadio id="cliTipo" value="">
				<f:selectItem itemLabel="Fisica" itemValue="F" />
				<f:selectItem itemLabel="Juridica" itemValue="J" />
			</p:selectOneRadio>

			<p:outputLabel value="CPF" for="cliCPF" />
			<p:inputMask id="cliCPF" name="cliCPF" mask="999.999.999-99" />

			<p:outputLabel value="E-mail" for="cliEmail" />
			<p:inputText id="cliEmail" name="cliEmail" size="30" />

		</p:panelGrid>



	</ui:define>

</ui:composition>