<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Perfil Usuario</title>
	<h:outputStylesheet library="css" name="aula01.css" />
</h:head>
<h:body>
	<div id="perfilUsuario">
		<h:graphicImage library="images" name="perfilusuario.png" alt="Login"
			styleClass="icone" />
		<h:form id="formPerfilUsuario">
			<p:tabView activeIndex="0" orientation="top" effect="fade"
				effectDuration="slow" dynamic="true" cache="false">
				<p:tab title="Dados pessoais" disabled="false">
					<h:panelGrid columns="2" cellpadding="4">
						<p:outputLabel value="Nome" for="nome" />
						<p:inputText id="nome" size="40" />

						<p:outputLabel value="E-mail" for="email" />
						<p:inputText id="email" size="40" />

						<p:outputLabel value="Telefone" for="telefone" />
						<p:inputText id="telefone" size="15" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Endereço">
					<h:panelGrid columns="2" cellpadding="4">
						<p:outputLabel value="Logradouro" for="logradouro" />
						<p:inputText id="logradouro" size="60" />

						<p:outputLabel value="Número" for="numero" />
						<p:inputText id="numero" size="10" />

						<p:outputLabel value="Bairro" for="bairro" />
						<p:inputText id="bairro" size="30" />

						<p:outputLabel value="Cidade" for="cidade" />
						<p:inputText id="cidade" size="30" />

						<h:outputText value="#{data.hora}">
							<f:convertDateTime pattern="HH:mm:ss" />
						</h:outputText>

					</h:panelGrid>
				</p:tab>
			</p:tabView>

		</h:form>

	</div>
</h:body>
</html>